---
title: Gallery
---

<!-- 
##########################################################################
###############                                            ###############
############### Edit this page for home page slider items  ###############
###############                                            ###############
##########################################################################

-->

<!-- Change title in home.html also to reflect changes -->
<div class="col-xs-12">
<div
  id="home_carousel"
  class="carousel slide"
  data-interval="5000"
  data-ride="carousel"
>
  <!-- Carousel indicators -->
  <ol class="carousel-indicators">
    <li data-target="#home_carousel" data-slide-to="0" class="active"></li>
    <li data-target="#home_carousel" data-slide-to="1"></li>
    <li data-target="#home_carousel" data-slide-to="2"></li>
  </ol>

  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="item active">
      <img
        src="{{ 'assets/images/gallery/slide_1.jpg' | absolute_url }}"
        alt="First Slide"
      />
    </div>

    <div class="item">
      <img
        src="{{ 'assets/images/gallery/slide_2.jpg' | absolute_url }}"
        alt="Second Slide"
      />
    </div>

    <div class="item">
      <img
        src="{{ 'assets/images/gallery/slide_3.jpg' | absolute_url }}"
        alt="Third Slide"
      />
    </div>
  </div>

  <!-- Carousel nav -->

  <a class="carousel-control left" href="#home_carousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="carousel-control right" href="#home_carousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
</div>
