---
title: News & Talks
icon: fa-newspaper-o
order: 2
---

<div class="col-md-4 newsTalk">
  <header><h2>News, Awards and Honours</h2></header>
    <div class="blogs_sec LatestBlog">
    <ul>
      {%- assign _posts = site.news | sort: 'date' | reverse -%}
      {%- for _post in _posts -%}
        <li>
          <hr>
          <div class="icon_box">
            <div class={%- cycle 'bott', 'top' -%}>{{- _post.date | date: "%b %d" -}}</div>
          </div>
          <div class="right_text"><a href="{{- _post.url | absolute_url -}}">{{- _post.title -}}</a></div>
        </li>
        {%- if forloop.index == 5 -%}
          {%- break -%}
        {%- endif -%}
      {%- endfor -%}
    <hr>
    </ul>
  </div>
  <div class="more">
    <a href="{{ 'highlights/news.html' | absolute_url  }}">See All</a>
  </div>
</div>

<div class="col-md-4 newsTalk">
  <header><h2>Talks</h2></header>
    <div class="blogs_sec LatestBlog">
    <ul>
      {%- assign _posts = site.talks | sort: 'date' | reverse -%}
      {%- for _post in _posts -%}
        <li>
          <hr>
          <div class="icon_box">
            <div class={%- cycle 'bott', 'top' -%}>{{- _post.date | date: "%b %d" -}}</div>
          </div>
          <div class="right_text"><a href="{{- _post.url | absolute_url -}}">{{- _post.title -}}</a></div>
        </li>
        {%- if forloop.index == 5 -%}
          {%- break -%}
        {%- endif -%}
      {%- endfor -%}
    <hr>
    </ul>
  </div>
  <div class="more">
    <a href="{{ 'highlights/events-and-talks.html' | absolute_url  }}">See All</a>
  </div>
</div>

<div class="col-md-4 newsTalk">
  <header><h2>Quick Links</h2></header>
    <div class="blogs_sec LatestBlog">
    <ul>
      <hr>
      {%- assign _posts = site.data.quick-links -%}
      {%- for _post in _posts -%}
        {% if _post.direct == true %}
          <li>
            <div class="right_text"><a href="{{- _post.link -}}" target="_blank">{{- _post.name -}}</a></div>
          </li>
        {% else %}
          <li>
            <div class="right_text"><a href="{{- _post.link | prepend: site.baseurl -}}">{{- _post.name -}}</a></div>
          </li>
        {% endif %}
        {%- if forloop.index == 5 -%}
          {%- break -%}
        {%- endif -%}
      {%- endfor -%}
    </ul>
  </div>
</div>