<!-- Footer -->
<div id="footer">

  <!-- Copyright -->
  <ul class="copyright">
    {% if site.title or site.author %}
      <li>&copy; {{- site.title | default: site.author -}}. All rights reserved.</li>
    {% endif %}
  </ul>

</div>

  <!-- Scripts -->
  <!-- Order is really important, please double check if any changes are made -->
  <script src="{{ 'search-script.js' | absolute_url }}" type="text/javascript"></script>
  <script>
  SimpleJekyllSearch({
    searchInput: document.getElementById('search-input'),
    resultsContainer: document.getElementById('results-container'),
    json: '{{ 'search.json' | absolute_url }}',
    limit: 10
  })
  </script>
  <script>
    var baseurl = "{{ site.baseurl }}";
  </script>

  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
  <script src="{{- 'assets/js/jquery.scrolly.min.js' | relative_url -}}" defer></script>
  <script src="{{- 'assets/js/jquery.scrollzer.min.js' | relative_url -}}" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="{{- 'assets/js/skel.min.js' | relative_url -}}" defer></script>
  <script src="{{- 'assets/js/util.js' | relative_url -}}" defer></script>
  <script src="{{- 'assets/js/main.js' | relative_url -}}" defer></script>
  <script src="{{- 'assets/js/custom.js' | relative_url -}}" defer></script>

