{%- comment -%}
  Include vars:
  scrolly_nav
{%- endcomment -%}

<!-- Header -->
<div id="banner">
  <div id="logo-div">
    {% assign images = site.static_files | where: "image", true %}
    {% for image in images %}
      {% if image.name == 'Logo.png' %}
      <img src="{{ image.path | relative_url }}" alt="" id="logo"/>
      {% endif %}
    {% endfor %}
  </div>
  <div style="float: left" id="banner-heading-div">
    <p id="banner-heading">{{ site.title }}</p>
    <p id="banner-link-p"><a id="banner-link" href="https://www.iith.ac.in/">IIT HYDERABAD</a></p>
  </div>
  <div id="search-container">
    <div id="search-div">
      <input type="text" id="search-input" placeholder=" Search...">
      <button id="search-button"><i class="fa fa-search"></i></button>
    </div>
    <ul id="results-container"></ul>
  </div>
</div>
<div id="header">
  <div class="top">
    {%- include nav.html section_items=include.scrolly_nav -%}
  </div>
  <div class="bottom">
    {%- include social_icons.html -%}
    <div id="oldWebDiv">
      
    </div>
  </div>
</div>
