<!-- 
###########################################################################
###############                                             ###############
############### Edit this page for Left side bar menu items ###############
###############                                             ###############
###########################################################################

-->

<!-- Nav -->
<nav id="nav">
  <ul>
    <li>
      <a href="{{ '' | absolute_url }}/" class="single">
        <i class="fa fa-home"></i>Homepage</a></li>
    <li>
      <button class="
        dropdown-btn
        {% if page.collection == 'academics' %}
          dropdownactive
        {% endif %}">
        <i class="fa fa-graduation-cap"></i>Academics
      </button>
      <div class="dropdown-tabs"
           {% if page.collection == 'academics' %}
           style="display:block"
           {% endif %}
      >
        {% for subsection in site.academics %}
          <a href="{{ subsection.url | absolute_url }}">{{ subsection.title }}</a>
        {% endfor %}
      </div>
    </li>
    <li>
      <button class="
        dropdown-btn
        {% if page.collection == 'admissions' %}
          dropdownactive
        {% endif %}">
        <i class="fa fa-user-plus"></i>Admissions
      </button>
      <div class="dropdown-tabs"
           {% if page.collection == 'admissions' %}
           style="display:block"
           {% endif %}
      >
        {% for subsection in site.admissions %}
          <a href="{{ subsection.url | absolute_url }}">{{ subsection.title }}</a>
        {% endfor %}
      </div>
    </li>
    <li>
      <button class="
        dropdown-btn
        {% if page.collection == 'people' %}
          dropdownactive
        {% endif %}">
        <i class="fa fa-users"></i>People
      </button>
      <div class="dropdown-tabs"
           {% if page.collection == 'people' %}
           style="display:block"
           {% endif %}
      >
        {% for subsection in site.people %}
        {% if subsection.display == true %}
          <a href="{{ subsection.url | absolute_url }}">{{ subsection.title }}</a>
        {% endif %}
        {% endfor %}
      </div>
    </li>
    <li>
      <button class="
        dropdown-btn
        {% if page.collection == 'custom' %}
          dropdownactive
        {% endif %}">
        <i class="fa fa-book"></i>Custom Menu
      </button>
      <div class="dropdown-tabs"
           {% if page.collection == 'custom' %}
           style="display:block"
           {% endif %}
      >
        {% for subsection in site.custom %}
        {% if subsection.display == true %}
          <a href="{{ subsection.url | absolute_url }}">{{ subsection.title }}</a>
        {% endif %}
        {% endfor %}
      </div>
    </li>
    <li><a href="{{ 'customdirect.html' | absolute_url }}" class="single"><i class="fa fa-user-plus"></i>Custom Direct Menu</a></li>
    <li><a href="{{ 'facultyJoin.html' | absolute_url }}" class="single"><i class="fa fa-user-plus"></i>Join As Faculty</a></li>
    <li><a href="{{ 'contact-us.html' | absolute_url }}" class="single"><i class="fa fa-phone"></i>Contact Us</a></li>
  </ul>
</nav>
