/*
css: people
 */

/* faculty - reference image to scale - 130 x 160 */

.faculty-img {
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 130px;
  height: 160px;
}

.faculty-col {
  margin-top: 3%;
}

.faculty-link,
.faculty-link:hover,
.faculty-link:focus {
  text-decoration: none;
}

.faculty-link h3 {
  color: #660606;
}

.accordion {
  font-size: 25px;
  background-color: #eeeeee;
  color: #444;
  cursor: pointer;
  padding: 10px !important;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  border-radius: 0;
}

.active,
.accordion:hover {
  background-color: #cccccc;
  outline: none;
}

.panel {
  width: 100%;
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  outline: none;
  transition: max-height 0.2s ease-out;
}

.sub-1 {
  background-color: #e27689;
  margin-left: 13%;
  margin-top: 1%;
  margin-bottom: 1%;
  width: 30%;
  font-size: 20px;
}

.sub-1:hover , .sub-2:hover {
  color: white;
  background-color: #d53753;
}

.sub-2 {
  background-color: #e27689;
  margin-left: 10%;
  margin-top: 1%;
  margin-bottom: 1%;
  width: 30%;
  font-size: 20px;
}

.students-cont row > * {
  padding-top: inherit;
}

@media only screen and (max-width: 500px) {
  .sub-1 {
    margin-left: 3%;
    width: 43%;
  }
  .sub-2 {
    margin-left: 1%;
    width: 43%;
  }
}
