/*
file: sidebar.css;
*/

.divider {
  margin-top: 0;
  margin-bottom: 0;
  border-width: 1px;
}

#nav {
  font-weight: 400;
}

#nav .dropdown-btn {
  border-radius: 0 !important;
  display: block;
  padding: 6px 24px 6px 24px;
  text-decoration: none;
  width: 100%;
  font-size: 1em;
  background-color: #dbdbdb;
  color: #471118;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  text-align: right;
  box-shadow: none;
}

#nav .dropdown-btn i {
  line-height: 28px;
  float: left;
}

#nav ul>li>a:hover, #nav .dropdown-btn:hover, #nav .dropdown-tabs > a:hover {
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  background: rgba(0,0,0,0.15);
  box-shadow: inset 0 0 0.25em 0 rgba(0,0,0,0.125);
}

#nav .single {
  display: block;
  padding: 6px 24px 6px 24px;
  text-decoration: none;
  width: 100%;
  font-size: 1em;
}

#nav .single i {
  line-height: 28px;
  float: left;
}

#nav .dropdown-tabs {
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  display: none;
  background-color: #cacaca;
}

#nav .dropdown-tabs > a {
  text-align: center;
}

#nav .dropdownactive {
  -webkit-transition-timing-function: ease-in-out;
  background: rgba(0,0,0,0.15);
  box-shadow: inset 0 0 0.25em 0 rgba(0,0,0,0.125);
}

.active {
  color: #e27689;
  background: rgba(0,0,0,0.15);
  box-shadow: inset 0 0 0.25em 0 rgba(0,0,0,0.125);
}

.bottom ul {
  margin-bottom: 1em;
}

#oldWebDiv {
  text-align: center;
  margin-bottom: -10px !important;
}

#oldWebDiv a {
  color: #606060;
  border-bottom: none;
}

#oldWebDiv a:hover {
  color: #303030;
}
