---
---
<div class="bib-entry">
  {{ entry.author }}, ({{ entry.year }}).
  {{ entry.title }}.
  {% if entry.booktitle %}
  In <em>{{ entry.booktitle }}</em>
  {% endif %}
  {% if entry.journal %}
  <em>{{ entry.journal }}</em>
  {% endif %}
  {% if entry.volume %}
  , <em>{{ entry.volume }}</em>
  {% endif %}
  {% if entry.pages%}
  , <em>{{ entry.pages }}</em>
  {% endif %}
. <a href="{{ entry.url }}" target="_blank"> <strong>DOI</strong></a>
</div>
