---
title: "Staff"
layout: post
display: true
---

<div class="container-fluid">
  {% for staffMem in site.data.staff %}
    {% cycle '<div class="row">', '' %}
        <div class="col-sm-12 col-md-6" style="height: inherit">
          <div class="row">
            <div class="col-sm-6">
              <img class="faculty-img" src="..{{ staffMem.imgsrc }}" alt="Picture of the Staff Member">
            </div>
            <div class="col-sm-6">
              <h3>{{ staffMem.name }}</h3>
              <h4>{{ staffMem.designation }}</h4>
              <h5><i class="fa fa-envelope"></i>  <a href="mailto:{{ staffMem.email }}">{{ staffMem.email }}</a></h5>
            </div>
          </div>
        </div>
      {% cycle '', '</div>' %}
  {% endfor %}
</div>
